.container {
  background-color: #fbf7ef;
}

.map-container {
  width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.map-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer-fix {
  padding-bottom: 8rem !important;
}
