a {
  all: unset !important;
  color: #000000 !important;
  font-weight: 600 !important;
}

a:hover {
  cursor: pointer !important;
}

.logo {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: -4px;
  font-family: "GilmerBold" !important;
}

.phone {
  width: 30px;
  height: 30px;
}
