a {
  all: unset !important;
  color: #000000 !important;
  font-weight: 600 !important;
}

a:hover {
  cursor: pointer !important;
}

.logo {
  object-fit: contain;
  width: 20%;
  height: 10vh;
}

.navbar {
  height: 10vh;
}

.links-links:hover {
  border-bottom: 3px solid blue !important;
}
