a {
  all: unset !important;
  color: #000000 !important;
  font-weight: 600 !important;
}

a:hover {
  cursor: pointer !important;
}

.phone {
  object-fit: contain;
  width: 3vh;
  height: 3vh;
}

.navvy {
  height: 7vh;
}

.phone-nav {
  padding-top: 2.6vh;
  padding-bottom: 2.2vh;
}

.april {
  font-family: Gilmer, sans-serif;
}
